* {
  padding: 0;
  margin: 0;
}

body {
  background-color: black;
}

.banner {
  width: 1200px;
}

.flexbox {
  display: flex;
  justify-content: stretch;
}

.center {
  text-align: center;
}

.playman {
  left: -120px;
  width: 700px;
  position: relative;
  display: inline-block;
}

.playman .img-top {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}

.playman:hover .img-top {
  display: inline;
}
